{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8 my-5">
        {% if perms.blog.add_post %}
        <div class="page-header">
            <h1>Add Post</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Post</button>
        </form>
        <br>
    </div>
    {% else %}
    Access denied.
    {% endif %}
</div>
{% endblock content %}