{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="height: 50vh; background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,4,195,1) 47%, rgba(22,11,103,1) 100%); display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <img src="/static/images/sport.png" class="img-fluid" alt="sportblog">
    <h1 style="color: #ffffff; font-size: 3rem;">My Sport Blog</h1>
    <p style="color: #ffffff; font-size: 1.5rem;">"Believe you can and you're halfway there." - Theodore Roosevelt</p>
</div>


<div class="container px-0">
    <div class="row">

        <div class="col-12 mt-5 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4" style=" box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); border-radius: 8px; transition: transform 0.5s ease; transform: scale(1);" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top img-border" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>

                            <hr />
                            <p class="card-text text-black h6">
                                {{ post.created_on}}
                                <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}
                                {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'edit_post' post.slug %}">Edit</a> |
                                    <a class="text-danger" href="{% url 'delete_post' post.slug %}">Delete</a>
                                </small>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}
{% block copyright %}Copyright 2023 Basel Hussein{% endblock %}
